<h1><%= t("bands") %></h1>

<div class="row">
    <div class="col">
    <%= if (errors) { %>
        <%= for (key, val) in errors { %>
            <div class="alert alert-danger alert-dismissible fade show m-1" role="alert">
                <%= val %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
         <% } %>
    <% } %>
    </div>
</div>
<div class="row mt-3 justify-content-center">
    <div class="col-md-8 col-sm-10">
        <h2><%= t("create") %> <%= t("band") %></h2>

        <%= form({action: bandsCreatePath(), method: "POST", enctype: "multipart/form-data"}) { %>


            <input name="authenticity_token" type="hidden" value="<%= authenticity_token %>">
            <div class="form-group">
                <label for="title"><%= t("name") %></label>
                <input type="text" name="Name" class="form-control" id="name" value="<%= band.Name %>">
            </div>

            <%= partial("location_form.html") %>

            <div class="form-group">
                <label for="content"><%= t("description") %></label>
                <textarea class="form-control" name="Description" id="description"  rows="20">
                    <%= band.Description %>
                </textarea>
                <label for="content"><%= t("photo") %></label>
                <%= f.FileTag({name: "photo_file"}) %>
            </div>
            <button type="submit" class="btn btn-primary"><%= t("publish") %></button>
        <% } %>
    </div>
</div>
