<h1><%= t("venues") %></h1>
<div class="row">
    <div class="col-md-3 offset-md-9">
        <a href="<%= venuesCreatePath() %>" class="btn btn-primary"><%= t("add") %> <%= t("venue") %></a>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <%= for (v) in venues { %>
            <hr>
            <a href="/venues/detail/<%= v.ID %>"><h1><img class="index_image" src="<%= GetPhotoName(v.ID.String(), v.Photo) %>">&nbsp;<%= v.Name %></h1></a>
            <%= if (current_user.ID.String() == v.OwnerID.String()) { %>
            <a href="<%= venuesDeletePath({id: v.ID}) %>" class="btn btn-danger"><%= t("delete") %> <%= t("venue") %></a>
            <% } %>
            <p><%= markdown(truncate(v.Description, {"size": 200})) %></p>
        <% } %>
    </div>
</div>
<div class="row">
    <div class="col">
        <%= paginator(pagination) %>
    </div>
</div>
