<h1><%= t("venues") %></h1>

<div class="row">
    <div class="col">
    <%= if (errors) { %>
        <%= for (key, val) in errors { %>
            <div class="alert alert-danger alert-dismissible fade show m-1" role="alert">
                <%= val %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
         <% } %>
    <% } %>
    </div>
</div>
<div class="row mt-3 justify-content-center">
    <div class="col-md-8 col-sm-10">
        <h2><img class="profile_image" src="<%= venue.Photo %>">&nbsp;&nbsp;<%= venue.Name %>&nbsp;&nbsp;<button OnClick="ToggleBooking()" type="submit" class="btn btn-primary hbtn-primary"><%= t("book") %></button> </h2>
        <div id="band_block" style="display: none;">
            <style>
                div.ui-datepicker {
                        font-size: 62.5%;
                }
            </style>
            <span style="float: left;">
                <label><%= t("select_band") %>:</label>
                <ul>
                  <%= for (band) in bands { %>
                  <li class="band-list"><a id="<%= band.ID %>" OnClick="SelectBand('<%= band.ID %>', '<%= band.Name %>')"><%= band.Name %></a></li>
                  <% } %>
                </ul>
            </span>
            <span style="float: center;">
                <label><%= t("date") %>:</label>
                <input type="text" id="requested_date" onclick="$('#requested_date').datepicker();$('#requested_date').datepicker('show');">
                <script>
                    var currband = '';
                    // ToggleBooking show/hides the booking block
                    function ToggleBooking() {
                      $('#band_block').toggle("fast");
                    }

                    // SelectBand selects a band to be booked
                    function SelectBand(id, name) {
                      if (currband != id) {
                        if (currband != '') {
                          $('#'+currband).animate({color:'black'},10);
                        }
                        $('#'+id).animate({color:'green'},10);
                        currband = id;
                      }
                    }

                    // Book request booking for a band
                    function Book() {
                        if (currband == '') {
                            alert("<%= t("must_select_a_band_to_book") %>");
                            return;
                        }
                        $.post( "<%= bandVenueEventRequestsCreatePath() %>", {BandID: currband, VenueID: "<%= venue.ID %>", RequestDate: $('#requested_date').val()}, function() {
                          console.log("TODO: create success notification" );
                        })
                          .done(function() {
                            console.log("TODO: Create local session notification");
                          })
                          .fail(function() {
                            console.log( "TODO: create error notification" );
                          })
                          .always(function() {
                            console.log( "TODO: create finished notification" );
                         });
                    }
                </script>
            </span>
            <span style="float: right;">
                <button OnClick="Book()" type="submit" class="btn btn-secondary"><%= t("send") %></button>
            </span>
        </div>
        <br />
        <br />
        <!-- TODO fix this block -->
        <%= form({action: bandVenueEventRequestsCreatePath() , method: "POST", enctype: "multipart/form-data"}) { %>
            <input name="authenticity_token" type="hidden" value="<%= authenticity_token %>">
            <input name="id" type="hidden" value="<%= venue.ID %>">
            <%= venue.LocationText %> <br />
            <%= venue.Address %> <%= venue.Zip %> <%= venue.Phone %> <br />
            <%= venue.Description %>
        <% } %>
    </div>
</div>
