<h1><%= t("venues") %></h1>

<div class="row">
    <div class="col">
    <%= if (errors) { %>
        <%= for (key, val) in errors { %>
            <div class="alert alert-danger alert-dismissible fade show m-1" role="alert">
                <%= val %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
         <% } %>
    <% } %>
    </div>
</div>
<div class="row mt-3 justify-content-center">
    <div class="col-md-8 col-sm-10">
        <script language="javascript">
            function Book(band, requested_date) {
                alert("Booking band " + band + " for date " + requested_date)
            }
        </script>
        <h2><%= venue.Name %> <button OnClick="ToggleBooking()" type="submit" class="btn btn-primary"><%= t("book") %></button> </h2>
        <div id="band_block" style="display: none">
            <style>
                div.ui-datepicker {
                        font-size: 62.5%;
                }
            </style>
            <h4><%= t("select_band") %>:</h4>
            <ul>
              <%= for (band) in bands { %>
              <li><%= band.Name %> </li>
              <% } %>
            </ul>

            <h4><%= t("date") %>:</h4>
            <div id="datepicker"></div>
            <script>
              $(document).ready(function() {
                  console.log("document loaded, loading datepicker");
                  $( "#datepicker" ).datepicker();
              });

              function ToggleBooking() {
                  $('#band_block').toggle("fast");
              }
            </script>
        </div>

        <img height="200" width="200" src="<%= venue.Photo %>">
        <%= form({action: bandVenueEventRequestsCreatePath() , method: "POST", enctype: "multipart/form-data"}) { %>
            <input name="authenticity_token" type="hidden" value="<%= authenticity_token %>">
            <input name="id" type="hidden" value="<%= venue.ID %>">
            <%= venue.LocationText %> <br />
            <%= venue.Address %> <%= venue.Zip %> <%= venue.Phone %> <br />
            <%= venue.Description %>
        <% } %>
    </div>
</div>
