<div class="form-group">
    <script language="javascript">
    <!--
        var states;
        var current_state;
        var current_city;
        var detail_form = false;

        // Set the location info if the form is for updates
        function set_detail_location(country, state, city) {
            current_state = state - 1;
            current_city = city - 1;
            detail_form = true;
        }   

        // Fill the states select field for cities
        function get_states(country) {
            $.getJSON("/assets/json/states-cities-" + country + ".json", function( data ) {
                states = data;
                $.each(states, function(key, value) {
                    $("#select_states").append('<option value="' + (key + 1) + '">' + value.name + '</option>');
                });
                if(detail_form) {
                    set_location_info(current_city);
                    show_cities(current_state);
                    $('#select_states')[0].selectedIndex = current_state;
                    $('#select_cities')[0].selectedIndex = current_city;
                }
            });

        }

        // Fill the cities select field by state
        function show_cities(state_idx) {
            current_state = state_idx;
            current_cities = states[state_idx].cities;
            $('#select_cities').text("");
            i = 0;
            $.each(current_cities, function(key, value) {
                $("#select_cities").append('<option value="' + ++key + '">' + value + '</option>');
            });
        }

        // Set the location fields
        // TODO: Add more countries but currently we're only in México
        function set_location_info(city_idx) {
            $("#location_text").val(states[current_state].cities[city_idx] + ", " + states[current_state].name);
            $("#state").val(current_state + 1);
            $("#city").val(city_idx + 1);
        }

        $(document).ready(get_states("mx"));
    //-->
    </script>
    <input type="hidden" id="location_text" name="LocationText" value="" />
    <input type="hidden" id="country" name="Country" value="1" />
    <input type="hidden" id="state" name="State" value="" />
    <input type="hidden" id="city" name="City" value="" />
    <label for="title"><%= t("country") %></label>
    <div class="location_select">
        <!-- Dropdown countries -->
        <select name="countries">
            <option value="1">México</option>
        </select>
    </div>
    <label for="title"><%= t("state") %></label>
    <div class="location_select">
        <select onClick="show_cities(this.selectedIndex)" id="select_states" name="select_states">

        </select>
    </div>
    <label for="title"><%= t("city") %></label>
    <div class="location_select">
        <select onClick="set_location_info(this.selectedIndex)" id="select_cities" name="select_cities">
        </select>
    </div>
</div>
